img {
  box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

.app-screenshots-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
  width: 65%;
  height: 100%;
  background-color: #84D1DB;
  overflow: hidden;
}

@keyframes slidein {
  from {
    margin-left: 200%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: 100%;
    width: 100%;
  }
}

.screen-shots-incoming {
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.screen-shots-departing {
  animation-name: slideout;
  animation-duration: .9s;
  animation-timing-function: ease-in;
}

.app-screenshots--large-image {
  width: 28%;
  border-radius: 15px;
  margin-top: 2%;
}

.app-screenshots--small-images-column {
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1600px) {
  .app-screenshots--large-image {
    width: 26%;
  }

  .app-screenshots--small-images-column {
    width: 15%;
  }
}